<div class="row">
	<div class="col-xs-12 col-md-8 col-md-push-4">
		<h2 class="h3"><%= project.title %></h2>
		<p class="lead"><%= project.description %></p>
	</div>
	<div class="col-xs-12 col-md-4 col-md-pull-8">
		<%= link_to project_path(project) do %>
			<div class="featured-project-image-wrapper image-left">
				<%= image_tag project.image, alt: project.title, class: 'featured-project-image' %>
			</div>
		<% end %>
	</div>
</div>